<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRDLE</title>
</head>
<body>
  <div>

  </div>
  <div>
    <input type="text" id="inputID">
    <button class="btn btn-primary btn-square-md">guess</button>
  </div>
 <div>
  <table>
    <thead id="tableHeadID">
      <th></th>
    </thead>
    <tbody id="tableBodyID">

    </tbody>
  </table>
 </div>
</body>
</html>
